body {
background-color: lightblue;
font-family: Brush Script MT;
}
h2{
font-size: 100px;
margin-bottom: 10px;
}
img{
margin-top: 10px;
margin-bottom: 30px;
}
li{
font-size: 40px;
font-family: Brush Script MT;
}
h4{
font-size: 60px;
font-family: Brush Script MT;
}
h3{
font-family: Brush Script MT;
}
